@{
    ViewData["Title"] = "Blogs";
}
<div class="container py-4">
    <div class="text-center mb-5">
        <h1 class="display-4">
            <svg class="bi me-2" width="36" height="36" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#info-circle" />
            </svg>
            Blogs
        </h1>
        <p class="lead">No Blogs yet</p>
    </div>
